@font-face {
    font-family: 'ArabicKufi';
    src: url('../../fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

/*@font-face {
    font-family: 'Font_Name_2';
    src: url('../fonts/font2.ttf') format('truetype');
    font-weight: bold;
    font-weight: bold;
}*/