@font-face {
    font-family: 'ArabicKufi';
    src: url('../fonts/DroidKufi-Regular.ttf') format('truetype');
    /*src: url('../fonts/DroidKufi-Bold.ttf') format('truetype');*/
    font-weight: normal;
}
